/*mainPage css-----------video------------------------------------------------------------------------------------------*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
/*mainPage css-----------navbar-----------------------------------------------------------------------------------------*/
.navbar{
    margin: 0px;
    border:none;
    position: relative;
}
.navbar-inverse{
    z-index: 4;
}
.navbar-default {
    background-color: transparent;
    border:none;
}

.navbar-default .navbar-nav > li > a{
    color: #F0FFF0;
}

.navbar-default .navbar-brand,
.navbar-inverse .navbar-brand{
    color: #F0FFF0;
    font-size: 25px;
    font-family:'Lobster'
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #F0FFF0;
    background-color: transparent;
}

.nav > li > a {
    padding: 15px 20px;
    font-size: 15px;
}
/*mainPage css-----------content----------------------------------------------------------------------------------------*/
.modal{
    top:10%;
}

/*search page css*/

.nav-pills{
    /*border: none;*/
    background-color: #f6f6f6;


}
.nav-pills li{
    color: #f6f6f6;
    outline: none;
}

.nav-pills li a{
    padding: 10px 30px;

    border-color: #f6f6f6;
    background: #f6f6f6;
    color:black;
    border-radius: 0;
    margin: 0;
    font-weight: bold;
    outline: none;
    transition: all 0.3s ease-in 0s;
}

.nav-pills li a:hover{
    color: #4285f4;
    background-color: #f6f6f6;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
       color: #414141;
       background-color:#f6f6f6;
       padding:10px 40px;

}
.nav-pills > li.active > a >span,
.nav-pills > li.active > a >span:hover,
.nav-pills > li.active > a >span:focus {
    padding:10px 0;
    border-bottom-style: outset;
    border-bottom-color:#66ffff;
}


.tabExtBox{
    /*height: 200%;*/
    width: 100%;
    background-color:#f6f6f6 ;
}
.navBox{
    width: 100%;

}
.navBox ul{
    border-bottom: ridge;
    border-width: 2px;
    border-bottom-color: gainsboro;

}

/*search page css end*/

.tab-content .row .basicInfo {

    border-style: solid ;
    border-width: 1px;
    border-color: #e1e3e8;
    transition: all 0.1s ease-in 0s;
    margin: 0 auto;
    padding: 15px;
    z-index: 0;
}
.tab-content .row .basicInfo:hover{
    background-color: white;
    box-shadow: 10px 10px 20px  #e1e3e8, -10px 10px 20px  #e1e3e8;
    z-index: 2;



}

.infoLabel{

    margin-top: 0;
}
.tab-content .basicInfo .route{
    font-size: 26px;
}
.glyphicon-heart{
    float: right;
    color:gainsboro;
    font-size: 20px;

}

.tab-content .basicInfo .media-object{
    padding-top: 36px;
    padding-left: 36px;
}
.tab-content .basicInfo .media-body{
    padding-left: 40px;

}

.tab-content .basicInfo .name{
    display: block;
    font-size: 15px;
}
.tab-content .basicInfo .time{
    display: block;
    font-size: 15px;
}
.tab-content .basicInfo .license{
    display: block;
    font-size: 15px;
}
.tab-content .basicInfo .make{
    font-size: 15px;
}

.collectedInfoBox{
    position: fixed;
    bottom: 0;
    border: none;
    z-index: 2;
    display: block;
    width: 100%;
    text-align: center;

}
.collectedInfoBox .collectedInfo{
    height: 40px;
    width: 288px;
    background-color: #212121;
    color: white;
    display: inline-block;
    padding-top: 10px;
    border-radius: 3px;

}




























