/*mainPage css-----------video------------------------------------------------------------------------------------------*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
/*mainPage css-----------navbar-----------------------------------------------------------------------------------------*/
.navbar{
    margin: 0px;
    border:none;
}
.navbar-inverse{
    z-index: 3;
}
.navbar-default {
    background-color: transparent;
    border:none;
}

.navbar-default .navbar-nav > li > a{
    color: #F0FFF0;
}

.navbar-default .navbar-brand,
.navbar-inverse .navbar-brand{
    color: #F0FFF0;
    font-size: 25px;
    font-family:'Lobster'
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #F0FFF0;
    background-color: transparent;
}

.nav > li > a {
    padding: 15px 20px;
    font-size: 15px;
}
/*mainPage css-----------content----------------------------------------------------------------------------------------*/
.modal{
    top:10%;
}

/*search page css*/

.nav-pills{
    /*border: none;*/
    background-color: #f6f6f6;


}
.nav-pills li{
    color: #f6f6f6;
    outline: none;
}

.nav-pills li a{
    padding: 10px 30px;

    border-color: #f6f6f6;
    background: #f6f6f6;
    color:black;
    border-radius: 0;
    margin: 0;
    font-weight: bold;
    outline: none;
    transition: all 0.3s ease-in 0s;
}

.nav-pills li a:hover{
    color: #4285f4;
    background-color: #f6f6f6;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
       color: #414141;
       background-color:#f6f6f6;
       padding:10px 40px;

}
.nav-pills > li.active > a >span,
.nav-pills > li.active > a >span:hover,
.nav-pills > li.active > a >span:focus {
    padding:10px 0px;
    border-bottom-style: outset;
    border-bottom-color:#66ffff;
}


.tabExtBox{
    height: 100px;
    width: 100%;
    background-color:#f6f6f6 ;
}
.navBox{
    width: 100%;

}
.navBox ul{
    border-bottom: ridge;
    border-width: 2px;
    border-bottom-color: gainsboro;

}


/*search page css end*/

.row .col-lg-8{

    border-style: solid ;
    border-width: 1px;
    border-color: #e1e3e8;
}
.row .col-lg-8:hover{
    background-color: white;
    box-shadow: 10px 10px 20px #e1e3e8, -10px 10px 20px #e1e3e8;
}
.basicInfo{
    height: 30px;
    margin-top: 10px;
}



















.thumbnail{
    height: 205px;
}
.home-page{
    width:100%;
}
.inner-bg {
    padding: 60px 0 80px 0;
}

.top-content .text {
    color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
    margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }


.form-box {
    margin-top: 70px;
}

.form-box textarea{
    height: 100px;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-bottom form button.btn {
    width: 100%;
}









