<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE-edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CarPool Test</title>
    <!--Bootstrap Core CSS-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="bower_components/reset-css/reset.css">-->
    <!--Custom CSS-->
    <link rel="stylesheet" href="css/Carpool.css" type= text/css>
    <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and meadia queries-->
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'  type='text/css'>
    <!--[if 1t IE 9]-->
    <script src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <!--[endif]-->
    <style>
        body{
            padding-top: 50px;
            height: 100%;

        }

    </style>
</head>
<body data-ng-app ='infoMatch' ng-controller="searchController" >
<!--home page content-->

<nav class=" navbar navbar-inverse navbar-fixed-top" style="display: block" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Carpool Windsor</a>
        </div>
        <div class="searchView-navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a class="nav_item" href="#">About us</a>
                </li>
                <li>
                    <a class="nav_item" href="#">Services</a>
                </li>
                <li>
                    <a class="nav_item" href="#">Contact</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="navBox" style="display: block;position: relative;">
    <ul class="nav nav-pills nav-justified ">
        <li id="one" class="active"><a data-toggle="tab" href="#travelInfo"><span >Your Travel</span></a></li>
        <li id="two"><a data-toggle="tab" href="#collectedInfo"><span>Your Collected</span></a></li>
        <li id="three"><a data-toggle="tab" href="#postedInfo"><span>Your Posted</span></a></li>
    </ul>

    <div class="tabExtBox">
        <div class="container" style="padding-top: 3%">
            <div class="row" >
                <a class="col-md-2"></a>
                <div class="col-md-4">
                        <input type="text" ng-model="departureName" class="form-control" placeholder="Departure...">
                </div>

                <div class="col-md-4">
                        <input type="text" ng-model="arrivalName" class="form-control" placeholder="Arrival...">
                </div>
                <a class="col-md-2"></a>

            </div>

        </div>
    </div>
</div>


<div class="tab-content" style="position: relative; display: block;">
    <div id="travelInfo" class=" tab-pane fade in active container" style="list-style-type: none">
        <div class="row infoLabel" ng-repeat="driver in drivers"  >
            <a class="col-lg-2"></a>
            <div class="col-lg-8">
                <div class="basicInfo">
                    <h1><span>{{driver.departure}}</span> to <span>{{driver.arrival}} </span></h1>
                    <span>{{driver.driverLicense}}</span>
                    <span>{{driver.carMade}}</span>
                </div>
            </div>
            <a class="col-lg-2"></a>
        </div>
    </div>



    <div id="collectedInfo" class="tab-pane fade in active">

    </div>

    <div id="postedInfo" class="tab-pane fade in active">

    </div>


</div>


<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular.min.js"></script>
<script src="js/searchPage.js"></script>

<script>
    angular.module('infoMatch', []).controller('searchController', function($scope) {

        $scope.drivers=[
            {departure:'toronto',arrival:'windsor',name:'lize',carMade:'toyota',driverLicense:'G2'},
            {departure:'tronto',arrival:'windsor',name:'lize',carMade:'toyota',driverLicense:'G2'},
            {departure:'oronto',arrival:'windsor',name:'lize',carMade:'toyota',driverLicense:'G2'},
            {departure:'toonto',arrival:'windsor',name:'lize',carMade:'toyota',driverLicense:'G2'},
            {departure:'tornto',arrival:'windsor',name:'lize',carMade:'toyota',driverLicense:'G2'},
            {departure:'tronto',arrival:'windsor',name:'lize',carMade:'toyota',driverLicense:'G2'},
            {departure:'tornto',arrival:'windsor',name:'lize',carMade:'toyota',driverLicense:'G2'},
            {departure:'oronto',arrival:'windsor',name:'lize',carMade:'toyota',driverLicense:'G2'}

        ];
//
    });
</script>
</body>
</html>